<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Management</title>
    <script src="https://kit.fontawesome.com/efdfaf7046.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Playfair+Display:wght@700&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Buzio4.jpeg">  
    <link rel="stylesheet" href="css/styles_booking.css">
</head>
<body>
    <header class="nav-bar">
        <img class="nav-logo" src="images/Buzio5.png" alt="logo">
        <a class="nav-title" href="/">Buzio</a>
    </header>
    <section>
        <div class="item" >
            <h3>Bus details</h3>
            <div class="bus-group">
                <h4 class="bus-name"><%= result.BusName %> </h4>
                <h5 class="bus-details">Driver: <%= result.DriverName %></h5>
                <h5 class="bus-details">Bus Id: <%= result.BusId %></h5>
                <h5 class="bus-details">User Id: <%= userId %></h5>
                <h6 class="bus-details">Bus Type: <%= result.BusType %> Seater &nbsp;| &nbsp;<%= result.SleeperType %></h6>
                <h6 class="bus-details">Food Available: <%= result.FoodAvailable  %></h6>
            </div>
            <div class="bus-group">
                <div>
                    <h5 class="bus-info1">From Details</h5>
                    <h5 class="bus-info2">To Details</h5>
                    <h4 class="bus-start-time"><%= result.StartTime.slice(0,5) %></h4>
                    <h6 class="bus-travel-time"><%= result.TravelTime.slice(0,5) %></h6>
                    <h4 class="bus-end-time"><%= result.EndTime.slice(0,5) %></h4>
                </div>
                <div>
                    <h5 class="bus-start-date"><%= String(result.StartDate).slice(0,15); %></h5>
                    <h5 class="bus-end-date"><%= String(result.EndDate).slice(0,15) %></h5>
                </div>
                <div>
                    <h4 class="bus-start-location"><%= result.StartLocation %></h4>
                    <h4 class="bus-end-location"><%= result.EndLocation %></h4>
                </div>
            </div>
            <div class="bus-group">
                <h5 class="bus-misc">Rating: <%= result.Rating %>✰</h5>
                <h6 class="bus-misc">Seats Available: <%= result.SeatsAvailable %>/<%= result.Seats %></h6>
                <h6 class="bus-misc">Amenities: WiFi, Drinks, Charging Point, Movie</h6>
                <h4 class="bus-misc">Price: ₹<%= result.Price %></h4>
    
            </div>
        </div>
    
        <div>
            <form action="/user.html" method="post">
                <% for(let i=0;i<persons;i++){ %>
                    <div class="add-details">
                        <h3>Person <%= i+1 %></h3>
                        <div class="add-item">
                            <input name="phoneNo" class="form-input" type="text"  required>
                            <span class="placeholder">Name</span>
                        </div>
                        <div class="add-item">
                            <input name="email" class="form-input" type="number" required>
                            <span class="placeholder">Age</span>
                        </div>
                        <div class="add-item">
                            <input name="gender" class="form-input" type="text" list="genders" required>
                            <span class="placeholder">Gender</span>
                            <datalist id="genders">
                                <option value="Male"></option>
                                <option value="Female"></option>
                                <option value="Other"></option>
                            </datalist>
                        </div>
                        <div class="add-item">
                            <input name="seatPreference" class="form-input" type="text" list="seat-types" required>
                            <span class="placeholder">Seat Preference</span>
                            <datalist id="seat-types">
                                <option value="Window"></option>
                                <option value="Aisle"></option>
                                <option value="Middle"></option>
                            </datalist>
                        </div>
                    </div>
                <% } %> 
                <div class="add-details">
                    <h3>Additional Information</h3>
                    <div class="add-item">
                        <input name="phoneNo" class="form-input" type="tel"  required>
                        <span class="placeholder">Phone No</span>
                    </div>
                    <div class="add-item">
                        <input name="email" class="form-input" type="email" required>
                        <span class="placeholder">Email</span>
                    </div>
                    <div class="add-item">
                        <input name="persons" class="hidden-bus-details" type="number" value="<%= persons %>" readonly>
                    </div>
                    <div class="add-item">
                        <input name="rating" class="form-input" type="number" step="0.1" required>
                        <span class="placeholder">Rating</span>
                    </div>
                    <button class="btn-create"  type="submit">Create</button>
                </div>
                
            </form>
        </div>    
    </section>
    <%- include("footer") %> 
</body>
</html>